DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_URL=

# для создания первого суперпользователя
SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=

# ключи для токенов
REFRESH_SECRET_KEY=
SECRET_KEY=

# str for config
PROJECT_NAME=