# Список переменных из .env файла.
# Для корректной работы приложения создайте .env файл и заполните по этому примеру.

# BACKEND
# название проекта для некоторых настроек. Рекомендуемое название для этого проекта "Media Collections"
PROJECT_NAME=
# раздельные секретные ключи для создания access и refresh токенов доступа
SECRET_KEY=
REFRESH_SECRET_KEY=


# DATABASE
# настройки базы данных: название, имя пользователя, его пароль
DB_NAME=
DB_USER=
DB_PASSWORD=
# проект использует контейнеры докера, поэтому значение должно соответствовать имени контейнера базы данных
# значение для этого проекта: database
DB_HOST=
# обычное значение для mysql: 3306
DB_PORT=

# "ссылка" на бд для alembic миграций.
# заполнить по примеру ниже, подставляя свои данные настройки бд
# mysql+aiomysql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME
DB_URL=


# FIRST ADMIN
# данные для регистрации первого суперпользователя в приложении
SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=


# API KEYS
# заполнить данными, полученными после регистрации приложения в dev кабинете сайта simkl.com
SIMKL_API_SECRET_KEY=